<div id="chatBox" class="chat-box border border-success bg-white">

    <input type="text" class="form-control" id="chatEmail" required>
    
    <div class="chat-message">
        <span class="chat--message-email">asd@asd.com</span>
        <span class="chat--message-date">DD/MM/YYYY HH:MM:SS</span>
        <span class="chat--message-text">Lorem ipsum, dolor sit amet</span>
    </div>
    

    <input type="text" class="form-control" id="chatMessage" aria-describedby="emailHelp" required>
    <button type="submit" class="btn btn-primary" onclick="sendNewMessage()">Send</button>
</div>